
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!--<div class="main-view">
    <div class="main-header mb-2">
        <div class="d-flex justify-content-between mb-2">
            <div class="pagesize">
                <select class="form-control">
                    <option value="5">5</option>
                </select>
            </div>
            <div class="action-form">
                <button class="btn btn-info" data-target="#FormSearch" data-toggle="collapse">Tìm kiếm</button>
                <button class="btn btn-info">Thêm mới</button>
            </div>
        </div>-->

        <!--Form tìm kiếm-->
        <!--<div class="collapse" id="FormSearch">
            <div class="row align-items-end">
                <div class="col-md-11 row justify-content-end">
                    <div class="col-md-3">
                        <div>Chung</div>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        <div>Chung</div>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        <div>Chung</div>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        <div>Chung</div>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        <div>Chung</div>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        <div>Chung</div>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        <div>Chung</div>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        <div>Chung</div>
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="col-md-1 pl-0">
                    <button class="btn btn-success w-100">Tìm kiếm</button>
                </div>
            </div>
        </div>
    </div>

    <div class="main-center">
        <table class="table table-hover table-hover">
            <thead class="table table-active" >
                <tr>
                    <th><i class="bi bi-arrow-down-up"></i> Họ Và Tên</th>
                    <th><i class="bi bi-arrow-down-up"></i> Tài Khoản</th>
                    <th><i class="bi bi-arrow-down-up"></i> CCCD</th>
                    <th><i class="bi bi-arrow-down-up"></i> SĐT</th>
                    <th><i class="bi bi-arrow-down-up"></i> Email</th>
                    <th><i class="bi bi-arrow-down-up"></i> Địa chỉ</th>
                    <th class="width-120">Trạng Thái</th>
                    <th class="width-150">Tác Vụ</th>
                </tr>
            </thead>
        </table>
    </div>
</div>-->
