@model Booking.Model.Model.CategoryHouse
@if (Model == null)
{
    <form class="form-input">
        <div class="row">
            <div class="col-md-6 row">
                <div class="form-group col-md-12">
                    <input type="hidden" name="Id" id="Id" value="0">
                    <label class="col-form-label">Tên loại</label>
                    <div>
                        <input class="form-control validation" type="text" name="Name" placeholder="Nhập họ và tên">
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label class="col-form-label" for="text-input">Trạng thái</label>
                    <div>
                        <input id="Active" type="radio" name="Status" value="True" checked />
                        <label class="col-form-label" for="Active">Hoạt động</label>
                        <input class="ml-2" id="Lock" type="radio" name="Status" value="False" />
                        <label class="col-form-label" for="Lock">Khóa</label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img src="~/Content/Upload/no-image.png" alt="Alternate Text" class="w-100 show-image" style="object-fit:contain" onclick="ChooseMainImage(this)" />
                <input type="text" name="Image" value="~/Content/Upload/no-image.png" hidden />
            </div>
        </div>
    </form>
}
else
{
    <form class="form-input">
        <div class="row">
            <div class="col-md-6 row">
                <div class="form-group col-md-12">
                    <input type="hidden" name="Id" id="Id" value="@Model.Id">
                    <label class="col-form-label">Họ và tên</label>
                    <div>
                        <input class="form-control validation" value="@Model.Name" type="text" name="Name" placeholder="Nhập họ và tên">
                        <span class="help-block"></span>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <label class="col-form-label" for="text-input">Trạng thái</label>
                    <div>
                        <input id="Active" type="radio" name="Status" value="True" @if (Model.Status == true) { <text> checked</text> } />
                        <label class="col-form-label" for="Active">Hoạt động</label>
                        <input class="ml-2" id="Lock" type="radio" name="Status" value="False" @if (Model.Status != true) { <text> checked</text> }/>
                        <label class="col-form-label" for="Lock">Khóa</label>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="col-md-6">
                    <img src="@Model.Image" alt="Alternate Text" class="w-100 show-image" style="object-fit:contain" onclick="ChooseMainImage(this)" />
                    <input type="text" name="Image" value="@Model.Image" hidden />
                </div>
            </div>
        </div>
    </form>
}